<footer class="py-5 px-3">
    <div class="row">
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-white" href="/#">
                        Número de Vacinados
                    </a>
                </li>
                <li>
                    <a class="text-white" href="/#">
                        Contato
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>