<div class="position-relative overflow-hidden m-md-3 text-center bg-light" id="fundohead">
    <div class="col-md-5 p-lg-5 mx-auto my-1">
        <p class="stats__cabecalho f-size-30">
            <b> Doses Aplicadas</b>
        </p>

        <div class="bg-white primary__color px-5 py-3 f-size-50">
            <b>135.589.384</b>
        </div>
        <div class="d-flex gap-3 justify-content-between align-items-start mt-2">
            <div class="w-50">
                <b class="font-weight-normal d-block text-dark" id="vacinadados2">
                    96.249.301
                </b>
                <p class="stats__cabecalho">
                    <b>Primeira dose</b>
                </p>
            </div>
            <div class="w-50">
                <b class="font-weight-normal d-block" id="vacinadados3">
                    39.240.083
                </b>
                <p class="stats__cabecalho">
                    <b>
                        Segunda dose
                        <br />e<br />
                        dose única
                    </b>
                </p>
            </div>
        </div>
    </div>
</div>

<nav class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="fundohead2">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal f-size-40 text-white">
            <b>Cadastro</b>
        </h1>
        <button type="button" class="btn btn-warning m-5" id="btn" (click)="handleGetPatientInfo()">
            Já sou Cadastrado
        </button>
        <a [routerLink]="['cadastro']" class="btn btn-warning m-5" id="btn">
            População Geral
        </a>
        <a [routerLink]="['cadastro']" class="btn btn-warning m-5" id="btn">
            Profissionais do Transporte
        </a>
        <a [routerLink]="['cadastro']" class="btn btn-warning m-5" id="btn">
            Profissionais da Educação
        </a>
        <button type="button" class="btn btn-warning m-5" id="btn">
            Pontos de Vacinação
        </button>
    </div>
</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="fundohead3">
    <h1 class="display-4 font-weight-normal primary__color f-size-40">
        <b>Cronograma de Vacinação</b>
    </h1>
    <div class="card-body">
        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Janeiro</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Trabalhador de saúde, indígenas e quilombolas</p>
            </div>
            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>17</strong> de janeiro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Fevereiro</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Acima de 90 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>08</strong> de fevereiro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 85 e 89 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>12</strong> de fevereiro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 80 e 84 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>27</strong> de fevereiro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Março</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 77 e 79 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>03</strong> de março
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 75 e 76 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>15</strong> de março
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 72 e 74 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>19</strong> de março
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 69 e 71 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>26</strong> de março
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Abril</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>68 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>2 </strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Profissionais de segurança pública e administração penitenciária
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>5 </strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Profissionais da educação a partir de 47 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>10</strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>67 anos </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>12</strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 65 e 66 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>21</strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>64 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>23</strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>63 anos </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>29</strong> de abril
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Maio</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 60 e 62 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>06</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Síndrome de Down (18 a 59 anos)</p>
                <p>Pacientes renais em diálise (18 a 59 anos)</p>
                <p>Transplantados imunossuprimidos (18 a 59 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>10</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Metroviários e ferroviários (operadores de trem de todas as
                    idades; outros trabalhadores do setor com 47 anos ou mais)
                </p>
                <p>Grávidas e puérperas com comorbidades (acima de 18 anos)</p>
                <p>Pessoas com Deficiência Permanente (BPC) (55 a 59 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>11</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Pessoas com Comorbidades (55 a 59 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>12</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Grávidas e puérperas com comorbidades (acima de 18 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>17</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Motoristas e cobradores de ônibus</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>18</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Pessoas com comorbidades e com deficiência permanente (BPC) (45 a
                    49 anos)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>21</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Pessoas com comorbidades e com deficiência permanente (BPC) (40 a
                    44 anos)
                </p>
                <p>Profissionais do transporte aéreo</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>28</strong> de maio
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Junho</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                Profissionais do transporte portuário
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>1</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                Pessoas com comorbidades e com deficiência permanente (BPC) (30 a 39
                anos)
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>2</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill  col-grupo">
                Pessoas com comorbidades e com deficiência permanente (BPC) (18 a 29
                anos)
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>7</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                Profissionais da Educação (45 e 46 anos)
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>9</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Gestantes e Puérperas sem Comorbidades (acima de 18 anos)</p>
                <p>Pessoas com Deficiência Permanente (18 a 59 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>10</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Profissionais da Educação (18 a 44 anos)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>11</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 50 e 59 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>16 a 22</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 43 e 49 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>23 a 29</strong> de junho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 40 e 42 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>30</strong> de junho a <strong>14</strong> de julho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Julho</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 37 e 39 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>8 a 14</strong> de julho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 35 e 36 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>15 a 18</strong> de julho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 30 e 34 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>19 a 29</strong> de julho
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 28 e 29 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>30</strong> de julho a <strong>4</strong> de agosto
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Agosto</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 25 e 27 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>5 a 9</strong> de agosto
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 18 e 24 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>10 a 16</strong> de agosto
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Entre 16 e 17 anos <br />
                    (com deficiência, comorbidades, gestantes e puérperas)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>18 a 25</strong> de agosto
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>
                    Entre 12 e 15 anos <br />
                    (com deficiência, comorbidades, gestantes e puérperas)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>26 a 29</strong> de agosto
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 15 e 17 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>30</strong> de agosto a <strong>5</strong> de setembro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Setembro</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <p>Entre 12 e 14 anos</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>6 a 12</strong> de setembro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Dose adicional</strong>
                <p>
                    90 anos ou mais (com seis meses ou mais da aplicação da 2ª dose)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>6 a 12</strong> de setembro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Dose adicional</strong>
                <p>85 a 89 anos (com seis meses ou mais da aplicação da 2ª dose)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>13 a 19</strong> de setembro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Dose adicional</strong>
                <p>80 a 84 anos (com seis meses ou mais da aplicação da 2ª dose)</p>
                <p>Imunossuprimidos (18 anos ou mais)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>20 a 26</strong> de setembro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Dose adicional</strong>
                <p>70 a 79 anos (com seis meses ou mais da aplicação da 2ª dose)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>27</strong> de setembro a <strong>3</strong> de outubro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Outubro</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Dose adicional</strong>
                <p>60 a 69 anos (com seis meses ou mais da aplicação da 2ª dose)</p>
                <p>
                    Profissionais da saúde (com seis meses ou mais da aplicação da 2ª
                    dose)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>4 a 10</strong> de outubro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Fase 2 - Dose adicional</strong>
                <p>80 anos ou mais (para vacinados com a 2ª dose em abril)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>11 a 17</strong> de outubro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Fase 2 - Dose adicional</strong>
                <p>75 a 79 anos (para vacinados com a 2ª dose em abril)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>18 a 24</strong> de outubro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Fase 2 - Dose adicional</strong>
                <p>70 a 74 anos (para vacinados com a 2ª dose em abril)</p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>25 a 31</strong> de outubro
                </p>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-12 card-Title">
                <h3>Novembro</h3>
            </div>
        </div>

        <div class="row row-accordion-Crono">
            <div class="col-8 col-accordion-Crono flex-fill col-grupo">
                <strong>Fase 2 - Dose adicional</strong>
                <p>60 a 69 anos (para vacinados com a 2ª dose em abril)</p>
                <p>
                    Profissionais da saúde (para vacinados com a 2ª dose em abril)
                </p>
            </div>

            <div class="col-4 col-accordion-Crono col-data">
                <p>
                    <strong>1 a 7</strong> de novembro
                </p>
            </div>
        </div>
    </div>
</div>